[Unit]
Description=Flask Application
After=network.target

[Service]
User=flaskapp
WorkingDirectory=${app_path}/backend
EnvironmentFile=/etc/personalwebsite/secrets.env
Environment="FLASK_ENV=production"
ExecStart=${app_path}/backend/venv/bin/python3 main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target