[Unit]
Description=Flask Application
After=network.target

[Service]
User=root
WorkingDirectory=${app_path}
Environment="FLASK_SECRET=${flask_secret}"
Environment="FLASK_ENV=production"
Environment="MONGODB_URI=${mongodb_uri}"
ExecStart=${app_path}/venv/bin/python3 main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target